src/.cproject
src/.project
src/adsb2aprs
src/afskmodem
src/udpbox
src/udpgate4
src/udphub
src/udpflex
src/gps2aprs
src/aprsmap
src/aprsmap-x86
src/aprsmap-x86_64
src/udprfnet
src/gps2digipos
src/sondemod
src/sondeudp
src/sdrtst
src/sdrradio
src/l2cat
src/profile
src/radiorange
src/.settings
xds/C/C/*.o
xds/lib/C/libxds.a
zlib-*
libpng-*
src/aprsmap-tce
src/lib_armv6/pkgconfig/
cpy
dxlAPRS_*.tgz
*.patch
src/arm-linux-*
buildAll.sh
intel-debug.tgz
out-*/
